*{
    margin: 0;
    padding: 0;
}

body{
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

h1{
    color: chocolate;
    font-size: 40px;
    margin: 10px 0;
}
.search_div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#search{
    width: 60%;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#search:focus{
    outline: none;
    border: 1px solid blue;
}
.search_div button{
    width: 100px;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    background-color: cadetblue;
    outline: none;
}

#food_list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 30px;
}
#food_list div{
    border: 1px solid #ccc;
    background-color: gainsboro;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
}
#food_list div img{
    width: 100%;
    height: 300px;
    border-radius: 4px;
    margin: 20px 0;
}
#food_list div h2{
    color: blueviolet;
    margin: 20px 0;
}
.no_data{
    margin: 20px auto;
    color: crimson;
}